<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="LocAppWebIntegrationPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.pilmico.locapp.store.LocAppStores</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://fg-dora.cr3emhygcv57.ap-southeast-1.rds.amazonaws.com:3306/FG_DORA?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="fg_mrcadiente"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="rli1XKw*&amp;lK@"/>
    </properties>
  </persistence-unit>
</persistence>
